{% load static %}
<head>
	<title> Health Bot </title>
	
	<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">
	
</head>
<body>
	
	<div class="top">
		<div>
		 Contact Us +91 96366 20000 / 01 | ukh@hospital.com 
		</div>
	</div>



        <script src="{% static 'script.js' %}" type="text/javascript"></script>
	
	<div class="logo">
		<div>
			{% if messages %}
            <ul>
                {% for message in messages %}
                <p style="font-size:15px;font-family:forte;" id="messages">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> Health Bot </font><font color="#000"> Map integrated</font> </td>
					<td> <br> <br>
						<font size="4px"> 
							<a href="{% url 'homepage' %}">HOME</a>
							<a href="{% url 'about' %}">ABOUT US</a>
							<a href="{% url 'service' %}">SERVICE</a>
							<a href="{% url 'doctor' %}"> DOCTORS</a>
							<a href="{% url 'contact' %}">CONTACT US</a>
							<a href="{% url 'map' %}">SEARCH</a>
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="middle">
		<div style="background-image:url('/static/a.jpg');">
		<p>
			<br> <br>
					Health Care Services  <br>
			<font size="5px"> We Care About Your Health </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We Have Medicare Plan Options for You! </font> <br> <br>

Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio. Nullam eget bibendum sem, venenatis lacinia justo. Duis aliquet lobortis neque, eget volutpat nulla iaculis a. <br><br>

In hac habitasse platea dictumst. Praesent condimentum justo justo, at ultricies diam accumsan vitae. Donec ac elementum diam. Ut quam orci, posuere quis lacus sed, vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec. <br><br>
<ul>
<li> Nulla venenatis auctor quam, ac porta lectus dictum in
<li>Aliquam sodales nisi sit amet lorem
<li>Suspendisse vulputate tellus in justo convallis imperdiet
<li>Morbi id lorem consequat, sodales mi non
<li>Nulla venenatis auctor quam, ac porta lectus dictum in
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
	<div class="bottom_up">
        <form method="post">
            {% csrf_token %}
		<div>
				Request for an Appointment
				
				<table>
										
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="First Name" name="firstName">
						<td> 	<input type="text" placeholder="Last Name" name="lastName">
					</tr>
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td>	<input type="text" placeholder="Email Id" name="email">
						<td> 	<input type="text" placeholder="Mobile No" name="mobileNumber">
					</tr>
					
					<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td>	<select name="sex"> <option> -- Sex -- </option> <option > Male </option> <option> Female </option>  </select>
						<td> 	<input type="date" placeholder="appointment date" name="appointmentDate">
					</tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<textarea placeholder="Message" name="comment"> </textarea>
					</tr>
					
						<tr height="30px">
						
					</tr>
					<tr>
						<td width="500px"> </td>
						<td colspan="2">	<button> SUBMIT </button>
					</tr>
				</table>
				
		</div>
        </form>
	</div>
	
	
	
	
	
	<div class="nav_down">
		<div>
		 &copy; UK Hospital, site designed & developed by THARE_VASTE 
		</div>
	</div>
	
